<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign.gt-sm="center center" fxLayoutAlign="center center" fxLayoutGap.gt-sm="64px" fxLayoutGap="24px" 
style="min-height: calc(100vh - 178px); width: 100%; padding-top: 24px; padding-bottom: 24px;">
    <mat-card style="min-width: 300px;">
        <mat-card-title>
            Menu
        </mat-card-title>
        <mat-card-subtitle style="margin-top: 12px;">
            Pizza
        </mat-card-subtitle>
            <ng-container *ngFor="let item of getMenu()">
                <div *ngIf="item.mealType.match('PIZZA')" style="padding-top: 4px; width: 100%;">
                    <button mat-button style="width: 100%;" (click)="openDialog(item)">
                        <app-menu-item [item]="item"></app-menu-item>
                    </button>
                </div>
            </ng-container>
        <mat-card-subtitle style="margin-top: 12px;">
            Dania główne
        </mat-card-subtitle>
            <ng-container *ngFor="let item of getMenu()">
                <div *ngIf="item.mealType.match('DINNER')" style="padding-top: 4px; width: 100%;">
                    <button mat-button style="width: 100%;" (click)="openDialog(item)">
                        <app-menu-item [item]="item"></app-menu-item>
                    </button>
                </div>
            </ng-container>
        <mat-card-subtitle style="margin-top: 12px;">
            Zupy
        </mat-card-subtitle>
            <ng-container *ngFor="let item of getMenu()">
                <div *ngIf="item.mealType.match('SOUP')" style="padding-top: 4px; width: 100%;">
                    <button mat-button style="width: 100%;" (click)="openDialog(item)">
                        <app-menu-item [item]="item"></app-menu-item>
                    </button>
                </div>
            </ng-container>
        <mat-card-subtitle style="margin-top: 12px;">
            Napoje
        </mat-card-subtitle>
            <ng-container *ngFor="let item of getMenu()">
                <div *ngIf="item.mealType.match('DRINK')" style="padding-top: 4px; width: 100%;">
                    <button mat-button style="width: 100%;" (click)="openDialog(item)">
                        <app-menu-item [item]="item"></app-menu-item>
                    </button>
                </div>
            </ng-container>
    </mat-card>

    <mat-card>
        <mat-card-title>
            Koszyk
        </mat-card-title>
        <div style="min-height: 300px;">
            <app-cart-item></app-cart-item>
        </div>
        
    </mat-card>
</div>