<div fxLayout="row" fxLayoutAlign="center center" style="height: calc(100vh - 178px);">
    <div style="background: rgba(0, 0, 0, 0.5); height: 300px; max-width: 60vw; border: 3px solid; border-color: #e85034; border-radius: 2px;" fxLayout="column" fxLayoutAlign="center center">
        <b style="font-size: 32px; max-width: 60vw; padding: 12px; text-align: center; color: snow; line-height: 120%;">Najlepsza pizza w mieście!</b>
        <a href="/menu" mat-raised-button color="primary" style="background-color: #e85034; margin-top: 64px;">ZOBACZ MENU</a>
    </div>
</div>