<div style="width: 100%; height: 64px; background-color: rgba(0, 0, 0, 0.5); text-align: center;">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 100%; color: #FFFF; font-size: 30px;">
        <div fxLayoutAlign="start center">
            <img style="margin-left: 6px;" src="../../../assets/logo.png" height="50px" width="50px">
            <b style="padding-left: 6px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">PIZZERIA</b>
        </div>
        <div fxShow.gt-sm="true" fxHide fxLayoutAlign="end center" style="padding-right: 64px;">
            <a href="" mat-button>STRONA GŁÓWNA</a>
            <a href="menu" mat-button>MENU</a> 
            <a mat-button>ZAMÓWIENIA</a>
            <a mat-button>INFO</a>
        </div>
        <div fxShow fxHide.gt-sm="true" fxLayoutAlign="end center" style="padding-right: 12px;">
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button> 
            <mat-menu #menu="matMenu">
                <a href="" mat-menu-item>STRONA GŁÓWNA</a>
                <a href="menu" mat-menu-item>MENU</a>
                <a mat-menu-item>ZAMÓWIENIA</a>
                <a mat-menu-item>INFO</a>
            </mat-menu>
        </div>
    </div>
</div>
